.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
  margin-bottom: 2rem;
}

.navbarLogo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.navList {
  display: flex;
  gap: 15px;
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: color 0.3s;
}

.navLink:hover {
  color: #1e90ff;
}
