.boardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 100vh;
  padding: 2rem;
  /* background-color: #f4f4f9; */
}

.boardCard {
  background-color: #f4f4f0;
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.boardCard:hover {
  transform: scale(1.01);
}

.boardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.boardDescription {
  font-size: 14px;
  color: #666;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.btnContainer > .createBoardButton {
  margin-right: 0;
}

.createBoardButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createBoardButton:hover {
  background-color: #0056b3; /* Mörkare blå färg vid hover */
}

.createBoardButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Markeringsring vid fokus */
}
